.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;


}

.ticket {
    width: 30rem;
    padding: 1.5rem;
    margin: 0 auto;
    text-align: center;
    background: #c084fc;
    user-select: none;
}

.title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    right: 1.5rem;
    height: 5rem;
    background-color: #991b1b;
    margin-bottom: 2rem;
}

.numbersgrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: .5rem;
    margin-bottom: 1rem;
}

.numberButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: "Libre Baskerville";
    background-color: #fef3c7;
    color: #047857;
    border: 1px solid #ebebeb;
    border-radius: 0.3rem;
    cursor: pointer;
}

.selected {

    background-color: #4caf50;
    color: #444444;
}

.selectedNumbers {
    margin-top: 2rem;
    background: #fef3c7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.selectedNumbersTitle {
    color: #696969;
    font-size: 3rem;
    font-weight: 400;
}

.numbersList {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.6rem;
    font-weight: 700;
    font-family: "Libre Baskerville";
    min-height: 7.5rem;

    color: #047857;
}

.numbersList::before {
    content: "";
}

.submitTicketButton:disabled {
    opacity: 0.25;
}

.buttonsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    margin-top: 1.5rem;
}

.submitTicketButton {
    background-color: #065f46;
    color: white;
    font-weight: 700;
    padding: 0.5rem;
    transition: opacity .15s ease;
    cursor: pointer;
}

.spanSubmitTicketButton {
    font-weight: 400;
    cursor: pointer;
    margin-left: 0.25rem;
}

.ether {
    position: relative;
    display: inline;
    width: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 0.25rem;
}

.quickPickButton {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: black;
}

.quickPickButton::before {
    position: absolute;
    content: "";
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: #065f4681;
    transform: translateX(-2.5rem);

}

@media (max-width: 600px) {
    .ticket {
        position: absolute;
        top: 4rem;
    }
}