:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-size: 10px;
  color: rgba(255, 255, 255, 0.87);
  background: radial-gradient(circle at center, #334155 10%, #1e293b);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  font-size: var(--font-size);
  scroll-behavior: smooth;
  background-color: black;
  height: 100vh;
}

body {
  /* line-height: 1.5; */
  -webkit-font-smoothing: antialiased;
  font-size: 1.6rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul,
ol {
  list-style: none;
}

[hidden] {
  display: none !important;
}

a {
  text-decoration: none;
  color: inherit;
}

::selection {
  background-color: #b3d4fc;
  color: #000;
}